$phone:new-breakpoint(max-width 480px, $total-columns: 4);
$tablet:new-breakpoint(min-width 480px max-width 840px, $total-columns: 8);
$desktop:new-breakpoint(min-width 840px, $total-columns: 12);
body {
  margin: 0;
}
@import "components/waves";
.card { @extend %card; }
#{$all-buttons}, a.button { @extend %buttons; }
#{$all-text-inputs} { @extend %text-inputs; }
.highlighter-rouge { @extend %highlight; }
main {
  @include outer-container(80%);
}

.row {
  @include span-columns(12);
  .card {
    @include media($phone) {
      @include span-columns(4);
      @include omega(1n);
    }
    @include media($tablet) {
      @include span-columns(4);
      @include omega(2n);
    }
    @include media($desktop) {
      @include span-columns(4);
      @include omega(3n);
    }
  }
}
