$phone: new-breakpoint(max-width 480px, $total-columns: 4);
$tablet: new-breakpoint(min-width 480px max-width 840px, $total-columns: 8);
$desktop: new-breakpoint(min-width 840px, $total-columns: 12);
$visual-grid: true !global;
$visual-grid-color: lighten(#FFF0E8, 3%);
$visual-grid-opacity: 0.4;
body {
  margin: 0;
}
@import "components/waves";

.relatedWords,
.rhymes,
.definition,
.soundsLike {
  @include span-columns(12);
  @include pad();
  @extend %card;
  @include transition(0.35s ease all);
}
.soundsLike {
  margin-top: 20px;
}
a {
  color: #03a9f4;
  text-decoration: none;
  &:visited {
    color: lighten(#03a9f4, 30%);
  }
}
.definition {
  ol {
    margin-top: 10px;
    list-style-type: decimal;
    padding-left: 16px;
  }
}
#{$all-buttons},
a.button {
  @extend %buttons;
}
header {
  width: 100%;
  position: fixed;
}
input[type="search"] {
  margin-top: 10px;
  @extend %search;
  left: 0;
  right: 0;
  text-overflow: ellipsis;
  min-width: 32%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 8;
  &:focus {
    z-index: 8;
    min-width: 80%;
    @include calc(margin-top, "50vh - 19px");
  }
  &.startup {
    @include calc(margin-top, "50vh - 19px");
  }
  .suggestions {
    display: block;
    a {
      display: block;
      background-color: gray;
    }
  }
}
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  @extend %text-inputs;
}
.highlighter-rouge { @extend %highlight; }
.icon { @extend %icons; }
main {
  .row {
    padding-top: 50px;
    @include outer-container(80%);
    .left {
      margin-top: 20px;
      @include media($desktop) {
        @include span-columns(3);
      }
      @include media($tablet) {
        @include span-columns(4);
      }
      @include media($phone) {
        @include span-columns(4);
        @include omega;
      }
    }
    .center {
      margin-top: 20px;
      @include media($desktop) {
        @include span-columns(6);
      }
      @include media($tablet) {
        @include span-columns(4);
        @include omega;
      }
      @include media($phone) {
        @include span-columns(4);
        @include omega;
      }
    }
    .right {
      margin-top: 20px;
      @include media($desktop) {
        @include span-columns(3);
        @include omega;
      }
      @include media($tablet) {
        @include span-columns(4);
      }
      @include media($phone) {
        @include span-columns(4);
        @include omega;
      }
    }
  }
}
